*{
    margin: 0%;
    padding: 0%;
}
.container-15pro{
    width: 100%;
    background-color: #fff;
}
.navbar-15pro{
    width: 100%;
    height: 45px;
    background-color: #181818;
    position: sticky;
    top: 0px;
}
.nav-list-15pro{
    width: 80%;
    height: 100%;
    margin: auto;

    /* border: 1px solid white; */
}
.nav-list-15pro ul{
    padding-top: 10px;
}
.nav-list-15pro li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    color: white;
    font-size: 13px;
    text-transform: capitalize;
    
}
.discount-15pro{
    width: 100%;
    height: 50px;
    background-color: #1c2739;
    display: flex;
}
.dis-text-15pro{
    display: flex;
    width: 60%;
    /* margin: auto; */
    color: white;
    margin-left: 25%;
    padding-top: 15px;

}
.backimg-ip-1-15pro{
    width: 100%;
    height: 550px;
    border: 1px solid #181818;
    background-color: #000000;
}
.text-wrp-1-15pro h2{
    color: white;
    margin-top: 100px;
}
.img-15pro{
    width: 85%;
    height: 250px;
    border: 1px solid #000000;
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/welcome/hero__iztc7m63bfiy_large.jpg);
    margin: auto;
    margin-bottom: 20px;
}
.anchor-tag-15pro {
    width: 30%;
    margin: auto;
}
.anchor-tag-15pro button{
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: #0071e3;
    border: none;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;


}
.anchor-tag-15pro h3{
    color: white;
}
.footer-15pro{
    width: 100%;
    height: 600px;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
}
.footer-1-15pro{
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
}
.footer-1-1-15pro{
    width: 90%;
    margin: auto;
    height: 200px;
   
    text-align: start;
    font-size: 12px;
    margin-top: 20px;
    color: white;
}
.footer-1-1-15pro p{
    margin-bottom: 25px;
}
.footer-list-15pro{
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.footer-list-15pro h5{
    margin-bottom: 10px;
}
.footer-list-15pro li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 5px;
}
.footer-list-15pro p{
    margin-bottom: 450px;
}
.footer-coprgt-15pro{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 15px;
}
.vide-container{
    max-width: 100%;
    height: 650px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 30px;
}
.fea-cont-slide{
    width: 100%;
    height: 100%;
    border-radius: 16px;
  
  
    transition-duration: 500ms;
}
.arrow-fea-1{
    position: absolute;
    top: 50%;
    transform: translateX(0);
    transform: translateY(50%);
    right: 20px;
    font-size: 24px;
    line-height: 32px;
    background-color: red;
}
.arrow-fea-2{
    position: absolute;
    top: 50%;
    transform: translateX(0);
    transform: translateY(50%);
    left: 20px;
    font-size: 24px;
    line-height: 32px;
    background-color: red;
}